In [1]:
from DataTest import dataTest # import data test class

import numpy as np
import pandas as pd
import fancyimpute
from sklearn import model_selection
from sklearn.model_selection import StratifiedKFold


from sklearn.ensemble import AdaBoostClassifier # PROBABILITY
from sklearn.tree import DecisionTreeClassifier # PROBABILITY
from sklearn.neighbors import RadiusNeighborsClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier # PROBABILITY
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier # PROBABILITY
from sklearn.linear_model import LogisticRegression # PROBABILITY
from sklearn.naive_bayes import GaussianNB # PROBABILITY
from sklearn.ensemble import ExtraTreesClassifier # PROBABILITY
from sklearn.neighbors import KNeighborsClassifier # PROBABILITY
from sklearn.ensemble import BaggingClassifier # PROBABILITY

Using TensorFlow backend.

In [2]:
#import data
d = pd.read_pickle('../data/data.pickle')

### TEST -> knn on balanced set (first balance and then impute) -> 6 min -> undersampling

In [3]:
# create balanced dataset
Data_pers = d[d['AFclass'] == 'persistierend (>7 Tage, EKV)']
Data_paro = d[d['AFclass'] == 'paroxysmal']
Data_paro_1 = Data_paro.sample(n=332, random_state = 1234, replace = False)
balanced_1 = pd.concat([Data_pers,Data_paro_1])

# missing values recover KNN
 
target = "AFclass"
balanced_1 = balanced_1.drop('Soggetti', axis = 1)
balanced_1 = balanced_1.drop('PCneg', axis = 1)
balanced_1 = balanced_1.drop('IPG', axis = 1)
balanced_1['patsex'] = balanced_1['patsex'].map({'mÃ¤nnlich' : 1, 'weiblich' : 0})
balanced_1["AFclass"] = balanced_1["AFclass"].map({'persistierend (>7 Tage, EKV)' : 1, 'paroxysmal' : 0}) 
features = balanced_1.columns[balanced_1.columns != target]
x_incomplete = balanced_1[features]
y = balanced_1["AFclass"].as_matrix()
# impute missing value with KNN strategy
x_knn_a = fancyimpute.KNN(15).complete(x_incomplete)
x_knn = pd.DataFrame(x_knn_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_KNN = pd.concat([x_knn,y_new], axis = 1)
balanced_1 = Data_KNN

# get target variables 
X_bal_1 = balanced_1[balanced_1.columns[balanced_1.columns != "AFclass"]]
Y_bal_1 = balanced_1["AFclass"]

Imputing row 1/684 with 1 missing, elapsed time: 0.284
Imputing row 101/684 with 0 missing, elapsed time: 0.469
Imputing row 201/684 with 60 missing, elapsed time: 0.482
Imputing row 301/684 with 0 missing, elapsed time: 0.506
Imputing row 401/684 with 0 missing, elapsed time: 0.525
Imputing row 501/684 with 0 missing, elapsed time: 0.539
Imputing row 601/684 with 0 missing, elapsed time: 0.560

In [4]:
tester1 = dataTest(X = X_bal_1, target = Y_bal_1)
cv1 = tester1.crossValidation()
cv1

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

               0      1     2
0          bag10  58.92  3.93
1   BEST : bag10  58.92  3.93
2            gb4  58.78  5.74
3           bag8  58.78  5.23
4            gb2  58.49  4.08
5           knn5  58.48  6.95
6           bag7  58.46  5.67
7            et3  58.34  3.16
8           bag9  58.34  5.38
9           knn4  58.02  5.73
10         bag11  57.76  4.80
11           et2  57.59  5.31
12          ada2  57.16  5.56
13          ada6  57.16  5.82
14           et1  57.01  5.36
15          knn1  56.97  6.94
16        ridge1  56.87  6.12
17           rf3  56.74  6.31
18           ld1  56.72  5.90
19          ada4  56.71  3.30
20          ada3  56.59  5.19
21          knn3  56.57  3.71
22          ada1  56.44  5.39
23          bag5  56.42  4.75
24           nb1  56.29  5.29
25           gb3  56.15  7.02
26           gb1  56.13  5.40
27          ada7  56.09  6.72
28          ada8  55.86  4.69
29           lr1  55.84  4.80
30           dt4  55.71  4.76
31          bag4  55.66  6.12
32          bag6  55.52  5.73
33           dt3  55.42  3.42
34           rf2  55.42  8.73
35          bag1  55.41  5.37
36           dt1  55.27  4.42
37           rf1  54.68  7.61
38          ada5  54.42  6.59
39          knn2  54.38  3.99
40          bag2  54.37  4.42
41          bag3  54.37  6.18
42           dt2  53.35  5.56
43           dt5  52.80  6.05

### TEST -> knn on balanced set (first impute and then balance) -> undersampling

In [5]:

# missing values recover KNN

test2 = d

target = "AFclass"
test2 = test2.drop('Soggetti', axis = 1)
test2 = test2.drop('PCneg', axis = 1)
test2 = test2.drop('IPG', axis = 1)
test2['patsex'] = test2['patsex'].map({'mÃ¤nnlich' : 1, 'weiblich' : 0})
test2["AFclass"] = test2["AFclass"].map({'persistierend (>7 Tage, EKV)' : 1, 'paroxysmal' : 0}) 
features = test2.columns[test2.columns != target]
x_incomplete = test2[features]
y = test2["AFclass"].as_matrix()
# impute missing value with KNN strategy
x_knn_a = fancyimpute.KNN(15).complete(x_incomplete)
x_knn = pd.DataFrame(x_knn_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_KNN = pd.concat([x_knn,y_new], axis = 1)
test2 = Data_KNN

# create balanced dataset
Data_pers = test2[test2['AFclass'] == 1]
Data_paro = test2[test2['AFclass'] == 0]
Data_paro_1 = Data_paro.sample(n=332, random_state = 1234, replace = False)
balanced_2 = pd.concat([Data_pers,Data_paro_1]) 



# get target variables 
X_bal_2 = balanced_2[balanced_2.columns[balanced_2.columns != "AFclass"]]
Y_bal_2 = balanced_2["AFclass"]

Imputing row 1/1100 with 1 missing, elapsed time: 0.716
Imputing row 101/1100 with 0 missing, elapsed time: 0.726
Imputing row 201/1100 with 60 missing, elapsed time: 0.740
Imputing row 301/1100 with 0 missing, elapsed time: 0.761
Imputing row 401/1100 with 2 missing, elapsed time: 0.782
Imputing row 501/1100 with 2 missing, elapsed time: 0.795
Imputing row 601/1100 with 1 missing, elapsed time: 0.809
Imputing row 701/1100 with 1 missing, elapsed time: 0.822
Imputing row 801/1100 with 4 missing, elapsed time: 0.838
Imputing row 901/1100 with 2 missing, elapsed time: 0.861
Imputing row 1001/1100 with 2 missing, elapsed time: 0.878

In [6]:
tester2 = dataTest(X = X_bal_2, target = Y_bal_2)
cv2 = tester2.crossValidation()
cv2

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

              0      1     2
0          ada2  59.35  3.00
1   BEST : ada2  59.35  3.00
2           gb2  59.08  4.31
3          bag8  59.08  6.00
4          bag4  58.93  4.64
5          bag6  58.76  4.23
6          knn5  58.63  6.21
7         bag11  58.34  5.89
8          bag9  58.05  6.15
9         bag10  58.05  6.46
10         ada4  58.04  5.58
11         bag7  58.04  5.35
12         bag5  57.90  4.70
13         ada6  57.89  5.81
14         ada1  57.85  6.58
15          gb4  57.75  7.09
16       ridge1  57.74  6.40
17          ld1  57.74  6.40
18         knn1  57.57  6.10
19         ada3  57.44  5.27
20          lr1  57.30  6.35
21          gb3  57.20  4.99
22         knn4  56.86  4.08
23          rf3  56.60  5.48
24          gb1  56.57  7.29
25          et2  56.13  2.80
26         ada7  56.01  5.52
27          nb1  56.00  5.22
28         knn3  55.97  3.09
29          dt3  55.96  5.75
30         ada5  55.54  4.47
31          et3  55.40  4.50
32          dt1  55.39  4.66
33         bag2  55.30  5.84
34          dt4  55.25  4.34
35          rf2  55.08  6.11
36         bag3  55.01  6.38
37          et1  54.51  3.70
38          dt5  54.24  2.55
39         knn2  53.94  4.77
40         ada8  53.69  6.29
41          dt2  53.49  4.57
42          rf1  53.34  6.91
43         bag1  51.79  5.76

### TEST - > mice inpute on all the data -> "col" 5 -> undersampling

In [5]:
# missing values recover KNN

test3 = d

target = "AFclass"
test3 = test3.drop('Soggetti', axis = 1)
test3 = test3.drop('PCneg', axis = 1)
test3 = test3.drop('IPG', axis = 1)
test3['patsex'] = test3['patsex'].map({'mÃ¤nnlich' : 1, 'weiblich' : 0})
test3["AFclass"] = test3["AFclass"].map({'persistierend (>7 Tage, EKV)' : 1, 'paroxysmal' : 0}) 
features = test3.columns[test3.columns != target]
x_incomplete = test3[features]
y = test3["AFclass"].as_matrix()



# impute missing value with KNN strategy
mice = fancyimpute.MICE(n_imputations=100, impute_type='col', n_nearest_columns=5)

x_mice_a = mice.complete(x_incomplete)
x_mice = pd.DataFrame(x_mice_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_Mice = pd.concat([x_mice,y_new], axis = 1)
test3_d = Data_Mice

# create balanced dataset
Data_pers = test3_d[test3_d['AFclass'] == 1]
Data_paro = test3_d[test3_d['AFclass'] == 0]
Data_paro_1 = Data_paro.sample(n=332, random_state = 1234, replace = False)
balanced_3 = pd.concat([Data_pers,Data_paro_1]) 



# get target variables 
X_bal_3 = balanced_3[balanced_3.columns[balanced_3.columns != "AFclass"]]
Y_bal_3 = balanced_3["AFclass"]

[MICE] Completing matrix with shape (1100, 69)
[MICE] Starting imputation round 1/110, elapsed time 0.004
[MICE] Starting imputation round 2/110, elapsed time 0.125
[MICE] Starting imputation round 3/110, elapsed time 0.159
[MICE] Starting imputation round 4/110, elapsed time 0.194
[MICE] Starting imputation round 5/110, elapsed time 0.236
[MICE] Starting imputation round 6/110, elapsed time 0.269
[MICE] Starting imputation round 7/110, elapsed time 0.303
[MICE] Starting imputation round 8/110, elapsed time 0.350
[MICE] Starting imputation round 9/110, elapsed time 0.400
[MICE] Starting imputation round 10/110, elapsed time 0.446
[MICE] Starting imputation round 11/110, elapsed time 0.497
[MICE] Starting imputation round 12/110, elapsed time 0.541
[MICE] Starting imputation round 13/110, elapsed time 0.579
[MICE] Starting imputation round 14/110, elapsed time 0.616
[MICE] Starting imputation round 15/110, elapsed time 0.657
[MICE] Starting imputation round 16/110, elapsed time 0.697
[MICE] Starting imputation round 17/110, elapsed time 0.739
[MICE] Starting imputation round 18/110, elapsed time 0.788
[MICE] Starting imputation round 19/110, elapsed time 0.832
[MICE] Starting imputation round 20/110, elapsed time 0.883
[MICE] Starting imputation round 21/110, elapsed time 0.929
[MICE] Starting imputation round 22/110, elapsed time 0.974
[MICE] Starting imputation round 23/110, elapsed time 1.020
[MICE] Starting imputation round 24/110, elapsed time 1.065
[MICE] Starting imputation round 25/110, elapsed time 1.114
[MICE] Starting imputation round 26/110, elapsed time 1.163
[MICE] Starting imputation round 27/110, elapsed time 1.209
[MICE] Starting imputation round 28/110, elapsed time 1.256
[MICE] Starting imputation round 29/110, elapsed time 1.307
[MICE] Starting imputation round 30/110, elapsed time 1.354
[MICE] Starting imputation round 31/110, elapsed time 1.394
[MICE] Starting imputation round 32/110, elapsed time 1.432
[MICE] Starting imputation round 33/110, elapsed time 1.473
[MICE] Starting imputation round 34/110, elapsed time 1.515
[MICE] Starting imputation round 35/110, elapsed time 1.551
[MICE] Starting imputation round 36/110, elapsed time 1.593
[MICE] Starting imputation round 37/110, elapsed time 1.640
[MICE] Starting imputation round 38/110, elapsed time 1.689
[MICE] Starting imputation round 39/110, elapsed time 1.733
[MICE] Starting imputation round 40/110, elapsed time 1.778
[MICE] Starting imputation round 41/110, elapsed time 1.833
[MICE] Starting imputation round 42/110, elapsed time 1.877
[MICE] Starting imputation round 43/110, elapsed time 1.924
[MICE] Starting imputation round 44/110, elapsed time 1.971
[MICE] Starting imputation round 45/110, elapsed time 2.017
[MICE] Starting imputation round 46/110, elapsed time 2.056
[MICE] Starting imputation round 47/110, elapsed time 2.091
[MICE] Starting imputation round 48/110, elapsed time 2.135
[MICE] Starting imputation round 49/110, elapsed time 2.179
[MICE] Starting imputation round 50/110, elapsed time 2.220
[MICE] Starting imputation round 51/110, elapsed time 2.276
[MICE] Starting imputation round 52/110, elapsed time 2.326
[MICE] Starting imputation round 53/110, elapsed time 2.370
[MICE] Starting imputation round 54/110, elapsed time 2.413
[MICE] Starting imputation round 55/110, elapsed time 2.457
[MICE] Starting imputation round 56/110, elapsed time 2.508
[MICE] Starting imputation round 57/110, elapsed time 2.553
[MICE] Starting imputation round 58/110, elapsed time 2.593
[MICE] Starting imputation round 59/110, elapsed time 2.634
[MICE] Starting imputation round 60/110, elapsed time 2.676
[MICE] Starting imputation round 61/110, elapsed time 2.721
[MICE] Starting imputation round 62/110, elapsed time 2.769
[MICE] Starting imputation round 63/110, elapsed time 2.811
[MICE] Starting imputation round 64/110, elapsed time 2.857
[MICE] Starting imputation round 65/110, elapsed time 2.913
[MICE] Starting imputation round 66/110, elapsed time 2.973
[MICE] Starting imputation round 67/110, elapsed time 3.025
[MICE] Starting imputation round 68/110, elapsed time 3.068
[MICE] Starting imputation round 69/110, elapsed time 3.111
[MICE] Starting imputation round 70/110, elapsed time 3.153
[MICE] Starting imputation round 71/110, elapsed time 3.202
[MICE] Starting imputation round 72/110, elapsed time 3.251
[MICE] Starting imputation round 73/110, elapsed time 3.296
[MICE] Starting imputation round 74/110, elapsed time 3.343
[MICE] Starting imputation round 75/110, elapsed time 3.379
[MICE] Starting imputation round 76/110, elapsed time 3.434
[MICE] Starting imputation round 77/110, elapsed time 3.483
[MICE] Starting imputation round 78/110, elapsed time 3.541
[MICE] Starting imputation round 79/110, elapsed time 3.594
[MICE] Starting imputation round 80/110, elapsed time 3.638
[MICE] Starting imputation round 81/110, elapsed time 3.684
[MICE] Starting imputation round 82/110, elapsed time 3.719
[MICE] Starting imputation round 83/110, elapsed time 3.758
[MICE] Starting imputation round 84/110, elapsed time 3.806
[MICE] Starting imputation round 85/110, elapsed time 3.850
[MICE] Starting imputation round 86/110, elapsed time 3.885
[MICE] Starting imputation round 87/110, elapsed time 3.933
[MICE] Starting imputation round 88/110, elapsed time 3.972
[MICE] Starting imputation round 89/110, elapsed time 4.012
[MICE] Starting imputation round 90/110, elapsed time 4.052
[MICE] Starting imputation round 91/110, elapsed time 4.088
[MICE] Starting imputation round 92/110, elapsed time 4.121
[MICE] Starting imputation round 93/110, elapsed time 4.167
[MICE] Starting imputation round 94/110, elapsed time 4.215
[MICE] Starting imputation round 95/110, elapsed time 4.260
[MICE] Starting imputation round 96/110, elapsed time 4.298
[MICE] Starting imputation round 97/110, elapsed time 4.340
[MICE] Starting imputation round 98/110, elapsed time 4.389
[MICE] Starting imputation round 99/110, elapsed time 4.433
[MICE] Starting imputation round 100/110, elapsed time 4.467
[MICE] Starting imputation round 101/110, elapsed time 4.501
[MICE] Starting imputation round 102/110, elapsed time 4.534
[MICE] Starting imputation round 103/110, elapsed time 4.569
[MICE] Starting imputation round 104/110, elapsed time 4.609
[MICE] Starting imputation round 105/110, elapsed time 4.643
[MICE] Starting imputation round 106/110, elapsed time 4.680
[MICE] Starting imputation round 107/110, elapsed time 4.722
[MICE] Starting imputation round 108/110, elapsed time 4.771
[MICE] Starting imputation round 109/110, elapsed time 4.823
[MICE] Starting imputation round 110/110, elapsed time 4.874

In [8]:
tester3 = dataTest(X = X_bal_3, target = Y_bal_3)
cv3 = tester3.crossValidation()
cv3

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

              0      1     2
0          bag7  60.97  2.81
1   BEST : bag7  60.97  2.81
2          knn4  59.49  5.72
3           gb3  59.35  3.01
4          ada4  59.08  4.22
5           gb4  59.07  5.72
6          bag4  58.74  5.36
7          bag9  58.63  5.07
8           gb2  58.61  6.73
9         bag11  58.50  4.88
10         bag6  58.47  3.50
11         bag3  58.31  4.45
12         bag5  58.31  4.82
13         knn1  58.18  6.86
14         knn5  58.04  5.91
15        bag10  57.75  3.36
16          gb1  57.74  4.79
17         knn3  57.59  4.57
18         bag8  57.47  5.65
19         ada3  57.30  4.76
20          et1  57.00  6.15
21          et2  56.72  4.77
22          et3  56.71  4.00
23         bag2  56.71  5.25
24         ada7  56.45  6.07
25         ada1  56.41  4.84
26          rf3  56.40  5.24
27          rf1  56.27  6.59
28          nb1  55.86  5.65
29         ada6  55.85  3.36
30       ridge1  55.85  5.79
31          ld1  55.85  5.79
32          rf2  55.70  6.04
33         ada8  55.26  4.75
34         knn2  55.13  5.52
35          lr1  55.11  6.87
36         ada2  53.94  4.33
37         bag1  53.94  7.45
38          dt2  52.18  6.56
39          dt5  51.92  6.40
40          dt3  50.85  4.85
41         ada5  50.59  4.39
42          dt1  50.27  4.11
43          dt4  49.54  4.47

### TEST mice -> col 20   -> 6 minutes -> undersampling

In [9]:
features = test3.columns[test3.columns != target]
x_incomplete = test3[features]
y = test3["AFclass"].as_matrix()



# impute missing value with KNN strategy
mice = fancyimpute.MICE(n_imputations=100, impute_type='col', n_nearest_columns=20)

x_mice_a = mice.complete(x_incomplete)
x_mice = pd.DataFrame(x_mice_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_Mice = pd.concat([x_mice,y_new], axis = 1)
test3_d = Data_Mice

# create balanced dataset
Data_pers = test3_d[test3_d['AFclass'] == 1]
Data_paro = test3_d[test3_d['AFclass'] == 0]
Data_paro_1 = Data_paro.sample(n=332, random_state = 1234, replace = False)
balanced_4 = pd.concat([Data_pers,Data_paro_1]) 



# get target variables 
X_bal_4 = balanced_4[balanced_4.columns[balanced_4.columns != "AFclass"]]
Y_bal_4 = balanced_4["AFclass"]

[MICE] Completing matrix with shape (1100, 69)
[MICE] Starting imputation round 1/110, elapsed time 0.005
[MICE] Starting imputation round 2/110, elapsed time 0.077
[MICE] Starting imputation round 3/110, elapsed time 0.139
[MICE] Starting imputation round 4/110, elapsed time 0.197
[MICE] Starting imputation round 5/110, elapsed time 0.255
[MICE] Starting imputation round 6/110, elapsed time 0.311
[MICE] Starting imputation round 7/110, elapsed time 0.368
[MICE] Starting imputation round 8/110, elapsed time 0.427
[MICE] Starting imputation round 9/110, elapsed time 0.483
[MICE] Starting imputation round 10/110, elapsed time 0.534
[MICE] Starting imputation round 11/110, elapsed time 0.594
[MICE] Starting imputation round 12/110, elapsed time 0.650
[MICE] Starting imputation round 13/110, elapsed time 0.709
[MICE] Starting imputation round 14/110, elapsed time 0.767
[MICE] Starting imputation round 15/110, elapsed time 0.823
[MICE] Starting imputation round 16/110, elapsed time 0.875
[MICE] Starting imputation round 17/110, elapsed time 0.936
[MICE] Starting imputation round 18/110, elapsed time 0.993
[MICE] Starting imputation round 19/110, elapsed time 1.060
[MICE] Starting imputation round 20/110, elapsed time 1.111
[MICE] Starting imputation round 21/110, elapsed time 1.177
[MICE] Starting imputation round 22/110, elapsed time 1.228
[MICE] Starting imputation round 23/110, elapsed time 1.290
[MICE] Starting imputation round 24/110, elapsed time 1.346
[MICE] Starting imputation round 25/110, elapsed time 1.403
[MICE] Starting imputation round 26/110, elapsed time 1.454
[MICE] Starting imputation round 27/110, elapsed time 1.515
[MICE] Starting imputation round 28/110, elapsed time 1.582
[MICE] Starting imputation round 29/110, elapsed time 1.644
[MICE] Starting imputation round 30/110, elapsed time 1.708
[MICE] Starting imputation round 31/110, elapsed time 1.770
[MICE] Starting imputation round 32/110, elapsed time 1.822
[MICE] Starting imputation round 33/110, elapsed time 1.888
[MICE] Starting imputation round 34/110, elapsed time 1.939
[MICE] Starting imputation round 35/110, elapsed time 2.005
[MICE] Starting imputation round 36/110, elapsed time 2.068
[MICE] Starting imputation round 37/110, elapsed time 2.131
[MICE] Starting imputation round 38/110, elapsed time 2.190
[MICE] Starting imputation round 39/110, elapsed time 2.251
[MICE] Starting imputation round 40/110, elapsed time 2.311
[MICE] Starting imputation round 41/110, elapsed time 2.374
[MICE] Starting imputation round 42/110, elapsed time 2.429
[MICE] Starting imputation round 43/110, elapsed time 2.485
[MICE] Starting imputation round 44/110, elapsed time 2.542
[MICE] Starting imputation round 45/110, elapsed time 2.603
[MICE] Starting imputation round 46/110, elapsed time 2.660
[MICE] Starting imputation round 47/110, elapsed time 2.728
[MICE] Starting imputation round 48/110, elapsed time 2.788
[MICE] Starting imputation round 49/110, elapsed time 2.851
[MICE] Starting imputation round 50/110, elapsed time 2.909
[MICE] Starting imputation round 51/110, elapsed time 2.973
[MICE] Starting imputation round 52/110, elapsed time 3.024
[MICE] Starting imputation round 53/110, elapsed time 3.088
[MICE] Starting imputation round 54/110, elapsed time 3.143
[MICE] Starting imputation round 55/110, elapsed time 3.202
[MICE] Starting imputation round 56/110, elapsed time 3.257
[MICE] Starting imputation round 57/110, elapsed time 3.317
[MICE] Starting imputation round 58/110, elapsed time 3.367
[MICE] Starting imputation round 59/110, elapsed time 3.429
[MICE] Starting imputation round 60/110, elapsed time 3.485
[MICE] Starting imputation round 61/110, elapsed time 3.547
[MICE] Starting imputation round 62/110, elapsed time 3.605
[MICE] Starting imputation round 63/110, elapsed time 3.662
[MICE] Starting imputation round 64/110, elapsed time 3.714
[MICE] Starting imputation round 65/110, elapsed time 3.771
[MICE] Starting imputation round 66/110, elapsed time 3.827
[MICE] Starting imputation round 67/110, elapsed time 3.889
[MICE] Starting imputation round 68/110, elapsed time 3.946
[MICE] Starting imputation round 69/110, elapsed time 4.013
[MICE] Starting imputation round 70/110, elapsed time 4.069
[MICE] Starting imputation round 71/110, elapsed time 4.131
[MICE] Starting imputation round 72/110, elapsed time 4.186
[MICE] Starting imputation round 73/110, elapsed time 4.252
[MICE] Starting imputation round 74/110, elapsed time 4.302
[MICE] Starting imputation round 75/110, elapsed time 4.362
[MICE] Starting imputation round 76/110, elapsed time 4.413
[MICE] Starting imputation round 77/110, elapsed time 4.471
[MICE] Starting imputation round 78/110, elapsed time 4.530
[MICE] Starting imputation round 79/110, elapsed time 4.588
[MICE] Starting imputation round 80/110, elapsed time 4.640
[MICE] Starting imputation round 81/110, elapsed time 4.699
[MICE] Starting imputation round 82/110, elapsed time 4.757
[MICE] Starting imputation round 83/110, elapsed time 4.816
[MICE] Starting imputation round 84/110, elapsed time 4.867
[MICE] Starting imputation round 85/110, elapsed time 4.928
[MICE] Starting imputation round 86/110, elapsed time 4.982
[MICE] Starting imputation round 87/110, elapsed time 5.044
[MICE] Starting imputation round 88/110, elapsed time 5.100
[MICE] Starting imputation round 89/110, elapsed time 5.160
[MICE] Starting imputation round 90/110, elapsed time 5.215
[MICE] Starting imputation round 91/110, elapsed time 5.273
[MICE] Starting imputation round 92/110, elapsed time 5.323
[MICE] Starting imputation round 93/110, elapsed time 5.398
[MICE] Starting imputation round 94/110, elapsed time 5.460
[MICE] Starting imputation round 95/110, elapsed time 5.520
[MICE] Starting imputation round 96/110, elapsed time 5.583
[MICE] Starting imputation round 97/110, elapsed time 5.645
[MICE] Starting imputation round 98/110, elapsed time 5.694
[MICE] Starting imputation round 99/110, elapsed time 5.757
[MICE] Starting imputation round 100/110, elapsed time 5.812
[MICE] Starting imputation round 101/110, elapsed time 5.874
[MICE] Starting imputation round 102/110, elapsed time 5.934
[MICE] Starting imputation round 103/110, elapsed time 5.994
[MICE] Starting imputation round 104/110, elapsed time 6.044
[MICE] Starting imputation round 105/110, elapsed time 6.111
[MICE] Starting imputation round 106/110, elapsed time 6.169
[MICE] Starting imputation round 107/110, elapsed time 6.230
[MICE] Starting imputation round 108/110, elapsed time 6.282
[MICE] Starting imputation round 109/110, elapsed time 6.338
[MICE] Starting imputation round 110/110, elapsed time 6.393

In [10]:
tester4 = dataTest(X = X_bal_4, target = Y_bal_4)
cv4 = tester4.crossValidation()
cv4

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

             0      1     2
0          gb4  59.36  5.36
1   BEST : gb4  59.36  5.36
2         bag8  59.21  4.31
3         ada4  59.10  5.74
4         knn4  59.05  4.56
5         bag7  58.92  4.62
6         bag9  58.77  5.26
7         knn5  58.64  6.92
8         bag5  58.62  5.12
9         ada6  58.49  4.96
10        ada7  58.33  6.76
11        bag6  58.33  5.55
12       bag11  58.18  3.60
13        ada2  57.88  6.60
14       bag10  57.76  5.78
15         et3  57.61  5.30
16        ada1  57.46  4.90
17         rf3  57.46  5.23
18        knn1  57.45  6.32
19         gb3  57.16  5.47
20        knn3  57.02  4.45
21        bag4  56.99  6.27
22        ada3  56.88  5.37
23         rf2  56.86  6.38
24         et1  56.71  5.54
25         gb2  56.58  3.44
26        bag3  56.01  4.73
27        ada8  55.87  4.60
28         nb1  55.87  5.69
29         gb1  55.83  4.67
30         rf1  55.69  7.72
31         et2  55.42  6.03
32         lr1  55.40  6.63
33         ld1  55.26  6.86
34        knn2  55.12  3.96
35      ridge1  55.11  6.67
36        bag2  52.94  4.50
37         dt3  52.90  5.34
38         dt2  52.33  4.76
39         dt5  52.17  6.00
40         dt1  52.03  5.79
41         dt4  51.92  5.24
42        bag1  51.61  4.23
43        ada5  51.17  6.54

### TEST mice impute + SMOTE resampling to increase the training data set of pers -> over sampling

In [15]:
from imblearn.over_sampling import SMOTE
X_resampled1, y_resampled1 = SMOTE().fit_sample(x_mice, y_new)
y_resampled1.shape


x_pop = pd.DataFrame(X_resampled1, columns = features)
y_new_r = pd.DataFrame(y_resampled1)
y_new_r = y_new_r.rename(columns = {y_new_r.columns[0] : 'AFclass'})

Data__R = pd.concat([x_pop,y_new_r], axis = 1)
Data_pers_R = Data__R[Data__R['AFclass'] == 1]
Data_paro_R = Data__R[Data__R['AFclass'] == 0]

# get target variables 
X_bal_5 = Data__R[Data__R.columns[Data__R.columns != "AFclass"]]
Y_bal_5 = Data__R["AFclass"]

/Users/giovanni/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
tester5 = dataTest(X = X_bal_5, target = Y_bal_5)
cv5 = tester5.crossValidation()
cv5

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

              0      1     2
0          ada4  83.22  2.57
1   BEST : ada4  83.22  2.57
2          ada8  82.68  2.76
3           et3  82.28  2.60
4           et2  81.68  2.62
5           et1  81.28  2.39
6          ada7  81.15  2.52
7           gb4  78.88  1.74
8          bag7  78.81  2.55
9          bag6  78.54  2.75
10        bag11  78.41  2.03
11         ada3  78.27  2.81
12         bag5  78.01  2.38
13        bag10  77.07  2.51
14         bag4  76.67  2.54
15          gb3  75.94  1.39
16          gb2  75.86  2.33
17         ada6  75.66  2.11
18          rf3  75.40  2.26
19         bag3  75.20  2.34
20         bag2  74.19  3.27
21         ada2  74.13  3.06
22         bag9  70.79  3.00
23          gb1  70.12  2.88
24          rf2  69.99  3.43
25         bag1  69.25  4.63
26         knn4  68.99  2.37
27         knn1  68.85  2.79
28          dt5  66.92  2.82
29          dt4  66.71  2.98
30          dt1  66.65  4.23
31         ada1  66.58  3.07
32         ada5  66.32  4.24
33         bag8  65.78  3.27
34         knn2  65.58  3.59
35         knn5  64.38  2.68
36          dt3  63.43  3.10
37         knn3  61.77  2.57
38          rf1  61.70  3.37
39       ridge1  61.23  2.02
40          ld1  61.23  2.02
41          dt2  60.37  3.24
42          lr1  60.17  3.70
43          nb1  58.63  3.50

### TEST mice impute + ADASYN resampling to increase the training data set of pers -> over sampling

In [8]:
from imblearn.over_sampling import ADASYN
X_resampled2, y_resampled2 = ADASYN().fit_sample(x_mice, y_new)

Data_pers_size = y_new[y_new["AFclass"] == 1].shape[0] # number of rows
Data_paro_size = y_new[y_new["AFclass"] == 0].shape[0] # number of rows
print ("SIZE OF THE CLASSES :",Data_pers_size ,Data_paro_size)




x_pop_2 = pd.DataFrame(X_resampled2, columns = features)
y_new_r_2 = pd.DataFrame(y_resampled2)
y_new_r_2 = y_new_r_2.rename(columns = {y_new_r_2.columns[0] : 'AFclass'})

Data__R2 = pd.concat([x_pop_2,y_new_r_2], axis = 1)


# get target variables 
X_bal_6 = Data__R2[Data__R2.columns[Data__R2.columns != "AFclass"]]
Y_bal_6 = Data__R2["AFclass"]

SIZE OF THE CLASSES : 352 748

/Users/giovanni/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
tester6 = dataTest(X = X_bal_6, target = Y_bal_6)
cv6 = tester6.crossValidation()
cv6

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

              0      1     2
0          ada4  83.88  3.06
1   BEST : ada4  83.88  3.06
2           et2  82.80  2.98
3           et3  82.60  3.05
4          ada8  82.00  2.58
5           et1  81.19  2.21
6          ada7  80.79  3.01
7          ada3  78.78  3.45
8         bag11  78.58  4.35
9           gb2  78.44  3.01
10          gb4  78.31  4.31
11         bag6  78.17  3.74
12         bag7  77.70  4.48
13         bag5  77.09  3.17
14         bag4  76.96  4.29
15          rf3  76.63  2.90
16          gb3  76.49  4.33
17        bag10  75.49  3.24
18         bag3  75.28  3.46
19         ada2  75.22  3.51
20         ada6  73.33  4.04
21         bag2  71.73  5.15
22         bag9  70.38  4.47
23          rf2  70.37  3.85
24         ada5  69.04  3.32
25          gb1  68.90  3.23
26          dt1  68.17  3.58
27         bag1  67.83  4.70
28          dt4  67.63  3.56
29         knn4  67.10  3.19
30          dt5  67.09  3.71
31         ada1  66.62  3.74
32         bag8  64.74  4.09
33          dt3  64.27  2.64
34         knn5  63.67  3.15
35         knn1  63.40  2.87
36          rf1  62.18  4.87
37         knn2  60.78  3.99
38          dt2  60.64  3.76
39       ridge1  60.18  3.90
40          ld1  60.18  3.90
41          lr1  60.11  3.84
42          nb1  59.24  3.74
43         knn3  58.84  4.00

### TEST mice + TOMEKLINK -> undersampling -> NOT BALANCED

In [15]:
from imblearn.under_sampling import TomekLinks
tLinks = TomekLinks(return_indices = True) # return the indeces of the removed points
X_resampled1, y_resampled1, id_removed = tLinks.fit_sample(x_mice, y_new)



x_pop = pd.DataFrame(X_resampled1, columns = features)
y_new_r = pd.DataFrame(y_resampled1)
y_new_r = y_new_r.rename(columns = {y_new_r.columns[0] : 'AFclass'})

Data__R = pd.concat([x_pop,y_new_r], axis = 1)
Data_pers_R = Data__R[Data__R['AFclass'] == 1]
Data_paro_R = Data__R[Data__R['AFclass'] == 0]

# get target variables 
X_bal_7 = Data__R[Data__R.columns[Data__R.columns != "AFclass"]]
Y_bal_7 = Data__R["AFclass"]
X_bal_7.shape
Data_paro_R.shape
id_removed
Data__R.shape

/Users/giovanni/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(1030, 70)

In [16]:
tester7 = dataTest(X = X_bal_7, target = Y_bal_7)
cv7 = tester7.crossValidation()
cv7

begin cross validation
0.023  is complete
0.047  is complete
0.07  is complete
0.093  is complete
0.116  is complete
0.14  is complete
0.163  is complete
0.186  is complete
0.209  is complete
0.233  is complete
0.256  is complete
0.279  is complete
0.302  is complete
0.326  is complete
0.349  is complete
0.372  is complete
0.395  is complete
0.419  is complete
0.442  is complete
0.465  is complete
0.488  is complete
0.512  is complete
0.535  is complete
0.558  is complete
0.581  is complete
0.605  is complete
0.628  is complete
0.651  is complete
0.674  is complete
0.698  is complete
0.721  is complete
0.744  is complete
0.767  is complete
0.791  is complete
0.814  is complete
0.837  is complete
0.86  is complete
0.884  is complete
0.907  is complete
0.93  is complete
0.953  is complete
0.977  is complete
1.0  is complete
end cross validation

              0      1     2
0          ada7  66.50  3.47
1   BEST : ada7  66.50  3.47
2         bag11  66.31  2.10
3           gb3  66.12  0.94
4           rf2  66.01  1.94
5          ada4  65.92  1.79
6           gb1  65.92  1.12
7          bag8  65.92  0.43
8          bag9  65.92  0.87
9           rf1  65.83  0.83
10        bag10  65.82  1.46
11          et1  65.72  1.64
12          et2  65.53  1.98
13          gb4  65.43  1.69
14       ridge1  65.33  2.73
15          lr1  65.33  2.75
16          ld1  65.14  2.56
17         ada8  65.05  1.48
18          dt2  64.95  3.14
19         knn5  64.95  1.14
20         bag6  64.85  2.10
21          et3  64.76  1.80
22          gb2  64.66  4.07
23         bag5  64.66  2.16
24         knn4  64.47  2.75
25         bag4  64.47  1.63
26         bag7  64.46  2.55
27          rf3  64.26  3.15
28         knn3  64.18  2.19
29         bag2  64.17  4.65
30         knn2  63.98  1.09
31         knn1  63.88  2.55
32         bag3  63.88  1.73
33         ada6  63.78  4.39
34         ada1  62.72  3.14
35         ada3  62.52  4.28
36         ada2  61.16  2.91
37          dt3  60.88  4.44
38          nb1  60.02  5.03
39         bag1  59.12  5.41
40          dt4  59.04  4.36
41         ada5  58.55  6.02
42          dt1  57.86  4.27
43          dt5  56.60  4.73

# RESULTS

In [24]:
cv1.head(15)

               0      1     2
0          bag10  58.92  3.93
1   BEST : bag10  58.92  3.93
2            gb4  58.78  5.74
3           bag8  58.78  5.23
4            gb2  58.49  4.08
5           knn5  58.48  6.95
6           bag7  58.46  5.67
7            et3  58.34  3.16
8           bag9  58.34  5.38
9           knn4  58.02  5.73
10         bag11  57.76  4.80
11           et2  57.59  5.31
12          ada2  57.16  5.56
13          ada6  57.16  5.82
14           et1  57.01  5.36

In [25]:
cv2.head(15)

              0      1     2
0          ada2  59.35  3.00
1   BEST : ada2  59.35  3.00
2           gb2  59.08  4.31
3          bag8  59.08  6.00
4          bag4  58.93  4.64
5          bag6  58.76  4.23
6          knn5  58.63  6.21
7         bag11  58.34  5.89
8          bag9  58.05  6.15
9         bag10  58.05  6.46
10         ada4  58.04  5.58
11         bag7  58.04  5.35
12         bag5  57.90  4.70
13         ada6  57.89  5.81
14         ada1  57.85  6.58

In [26]:
cv3.head(15)

              0      1     2
0          bag7  60.97  2.81
1   BEST : bag7  60.97  2.81
2          knn4  59.49  5.72
3           gb3  59.35  3.01
4          ada4  59.08  4.22
5           gb4  59.07  5.72
6          bag4  58.74  5.36
7          bag9  58.63  5.07
8           gb2  58.61  6.73
9         bag11  58.50  4.88
10         bag6  58.47  3.50
11         bag3  58.31  4.45
12         bag5  58.31  4.82
13         knn1  58.18  6.86
14         knn5  58.04  5.91

In [27]:
cv4.head(15)

             0      1     2
0          gb4  59.36  5.36
1   BEST : gb4  59.36  5.36
2         bag8  59.21  4.31
3         ada4  59.10  5.74
4         knn4  59.05  4.56
5         bag7  58.92  4.62
6         bag9  58.77  5.26
7         knn5  58.64  6.92
8         bag5  58.62  5.12
9         ada6  58.49  4.96
10        ada7  58.33  6.76
11        bag6  58.33  5.55
12       bag11  58.18  3.60
13        ada2  57.88  6.60
14       bag10  57.76  5.78

In [28]:
cv5.head(15)

              0      1     2
0          ada4  83.22  2.57
1   BEST : ada4  83.22  2.57
2          ada8  82.68  2.76
3           et3  82.28  2.60
4           et2  81.68  2.62
5           et1  81.28  2.39
6          ada7  81.15  2.52
7           gb4  78.88  1.74
8          bag7  78.81  2.55
9          bag6  78.54  2.75
10        bag11  78.41  2.03
11         ada3  78.27  2.81
12         bag5  78.01  2.38
13        bag10  77.07  2.51
14         bag4  76.67  2.54

In [29]:
cv6.head(15)

              0      1     2
0          ada4  83.88  3.06
1   BEST : ada4  83.88  3.06
2           et2  82.80  2.98
3           et3  82.60  3.05
4          ada8  82.00  2.58
5           et1  81.19  2.21
6          ada7  80.79  3.01
7          ada3  78.78  3.45
8         bag11  78.58  4.35
9           gb2  78.44  3.01
10          gb4  78.31  4.31
11         bag6  78.17  3.74
12         bag7  77.70  4.48
13         bag5  77.09  3.17
14         bag4  76.96  4.29

In [30]:
cv7.head(15)

              0      1     2
0          ada7  66.50  3.47
1   BEST : ada7  66.50  3.47
2         bag11  66.31  2.10
3           gb3  66.12  0.94
4           rf2  66.01  1.94
5          ada4  65.92  1.79
6           gb1  65.92  1.12
7          bag8  65.92  0.43
8          bag9  65.92  0.87
9           rf1  65.83  0.83
10        bag10  65.82  1.46
11          et1  65.72  1.64
12          et2  65.53  1.98
13          gb4  65.43  1.69
14       ridge1  65.33  2.73

## single TRAIN and TESTING

In [35]:
# missing values recover KNN

test2 = d

target = "AFclass"
test2 = test2.drop('Soggetti', axis = 1)
test2 = test2.drop('PCneg', axis = 1)
test2 = test2.drop('IPG', axis = 1)
test2['patsex'] = test2['patsex'].map({'mÃ¤nnlich' : 1, 'weiblich' : 0})
test2["AFclass"] = test2["AFclass"].map({'persistierend (>7 Tage, EKV)' : 1, 'paroxysmal' : 0}) 
features = test2.columns[test2.columns != target]
x_incomplete = test2[features]
y = test2["AFclass"].as_matrix()
# impute missing value with KNN strategy
x_knn_a = fancyimpute.KNN(15).complete(x_incomplete)
x_knn = pd.DataFrame(x_knn_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_KNN = pd.concat([x_knn,y_new], axis = 1)
test2 = Data_KNN

# create balanced dataset
Data_pers = test2[test2['AFclass'] == 1]
Data_paro = test2[test2['AFclass'] == 0]
Data_paro_1 = Data_paro.sample(n=450, random_state = 1234, replace = False)
balanced = pd.concat([Data_pers,Data_paro_1]) 

x = balanced[features]
y = balanced[target]
X_resampled, y_resampled = ADASYN().fit_sample(x, y)


## continue ...

x_pop_2 = pd.DataFrame(X_resampled, columns = features)
y_new_r_2 = pd.DataFrame(y_resampled)
y_new_r_2 = y_new_r_2.rename(columns = {y_new_r_2.columns[0] : 'AFclass'})

Data__R2 = pd.concat([x_pop_2,y_new_r_2], axis = 1)



# get target variables 
X_bal_8 = Data__R2[Data__R2.columns[Data__R2.columns != "AFclass"]]
Y_bal_8 = Data__R2["AFclass"]

Imputing row 1/1100 with 1 missing, elapsed time: 0.607
Imputing row 101/1100 with 0 missing, elapsed time: 0.617
Imputing row 201/1100 with 60 missing, elapsed time: 0.632
Imputing row 301/1100 with 0 missing, elapsed time: 0.651
Imputing row 401/1100 with 2 missing, elapsed time: 0.670
Imputing row 501/1100 with 2 missing, elapsed time: 0.682
Imputing row 601/1100 with 1 missing, elapsed time: 0.695
Imputing row 701/1100 with 1 missing, elapsed time: 0.711
Imputing row 801/1100 with 4 missing, elapsed time: 0.724
Imputing row 901/1100 with 2 missing, elapsed time: 0.748
Imputing row 1001/1100 with 2 missing, elapsed time: 0.763

In [36]:
tester8 = dataTest(X = X_bal_8, target = Y_bal_8)
tester8.train()

START TRAINING
END TRAINING

In [37]:
prediction = tester8.predict()
prediction

         0                                                  1
0     ada1  [71, 90, 67, 44, 0.5919117647058824, 0.5144927...
1     ada2  [62, 104, 53, 53, 0.6102941176470589, 0.539130...
2     ada3  [63, 101, 56, 52, 0.6029411764705882, 0.529411...
3     ada4  [49, 111, 46, 66, 0.5882352941176471, 0.515789...
4     ada5  [76, 79, 78, 39, 0.5698529411764706, 0.4935064...
5     ada6  [59, 104, 53, 56, 0.5992647058823529, 0.526785...
6     ada7  [57, 101, 56, 58, 0.5808823529411765, 0.504424...
7     ada8  [65, 99, 58, 50, 0.6029411764705882, 0.5284552...
8   ridge1  [57, 96, 61, 58, 0.5625, 0.4830508474576271, 0...
9      gb1  [50, 114, 43, 65, 0.6029411764705882, 0.537634...
10     gb2  [58, 108, 49, 57, 0.6102941176470589, 0.542056...
11     gb3  [44, 108, 49, 71, 0.5588235294117647, 0.473118...
12     gb4  [55, 103, 54, 60, 0.5808823529411765, 0.504587...
13     dt1  [71, 76, 81, 44, 0.5404411764705882, 0.4671052...
14     dt2  [46, 113, 44, 69, 0.5845588235294118, 0.511111...
15     dt3  [71, 73, 84, 44, 0.5294117647058824, 0.4580645...
16     dt4  [71, 76, 81, 44, 0.5404411764705882, 0.4671052...
17     dt5  [74, 79, 78, 41, 0.5625, 0.4868421052631579, 0...
18     rf1  [42, 108, 49, 73, 0.5514705882352942, 0.461538...
19     rf2  [58, 96, 61, 57, 0.5661764705882353, 0.4873949...
20     rf3  [55, 104, 53, 60, 0.5845588235294118, 0.509259...
21     ld1  [57, 96, 61, 58, 0.5625, 0.4830508474576271, 0...
22     lr1  [58, 96, 61, 57, 0.5661764705882353, 0.4873949...
23    knn1  [43, 95, 62, 72, 0.5073529411764706, 0.4095238...
24    knn2  [36, 114, 43, 79, 0.5514705882352942, 0.455696...
25    knn3  [47, 98, 59, 68, 0.5330882352941176, 0.4433962...
26    knn4  [49, 98, 59, 66, 0.5404411764705882, 0.4537037...
27    knn5  [49, 103, 54, 66, 0.5588235294117647, 0.475728...
28     nb1  [67, 73, 84, 48, 0.5147058823529411, 0.4437086...
29     et1  [52, 98, 59, 63, 0.5514705882352942, 0.4684684...
30     et2  [51, 102, 55, 64, 0.5625, 0.4811320754716981, ...
31     et3  [49, 101, 56, 66, 0.5514705882352942, 0.466666...
32    bag1  [53, 96, 61, 62, 0.5477941176470589, 0.4649122...
33    bag2  [45, 111, 46, 70, 0.5735294117647058, 0.494505...
34    bag3  [48, 104, 53, 67, 0.5588235294117647, 0.475247...
35    bag4  [61, 108, 49, 54, 0.6213235294117647, 0.554545...
36    bag5  [59, 104, 53, 56, 0.5992647058823529, 0.526785...
37    bag6  [60, 105, 52, 55, 0.6066176470588235, 0.535714...
38    bag7  [57, 104, 53, 58, 0.5919117647058824, 0.518181...
39    bag8  [39, 127, 30, 76, 0.6102941176470589, 0.565217...
40    bag9  [47, 111, 46, 68, 0.5808823529411765, 0.505376...
41   bag10  [50, 112, 45, 65, 0.5955882352941176, 0.526315...
42   bag11  [46, 114, 43, 69, 0.5882352941176471, 0.516853...

In [49]:
# test
# missing values recover KNN

test3 = d

target = "AFclass"
test3 = test3.drop('Soggetti', axis = 1)
test3 = test3.drop('PCneg', axis = 1)
test3 = test3.drop('IPG', axis = 1)
test3['patsex'] = test3['patsex'].map({'mÃ¤nnlich' : 1, 'weiblich' : 0})
test3["AFclass"] = test3["AFclass"].map({'persistierend (>7 Tage, EKV)' : 1, 'paroxysmal' : 0}) 
features = test3.columns[test3.columns != target]
x_incomplete = test3[features]
y = test3["AFclass"].as_matrix()



# impute missing value with KNN strategy
mice = fancyimpute.MICE(n_imputations=100, impute_type='col', n_nearest_columns=5)

x_mice_a = mice.complete(x_incomplete)
x_mice = pd.DataFrame(x_mice_a, columns = features)
y_new = pd.DataFrame(y)
y_new = y_new.rename(columns = {y_new.columns[0] : 'AFclass'})
Data_Mice = pd.concat([x_mice,y_new], axis = 1)
test3_d = Data_Mice

# create balanced dataset
Data_pers = test3_d[test3_d['AFclass'] == 1]
Data_paro = test3_d[test3_d['AFclass'] == 0]
Data_paro_1 = Data_paro.sample(n=353, random_state = 1234, replace = False)
balanced_3 = pd.concat([Data_pers,Data_paro_1]) 



# get target variables 
X_bal_3 = balanced_3[balanced_3.columns[balanced_3.columns != "AFclass"]]
Y_bal_3 = balanced_3["AFclass"]

[MICE] Completing matrix with shape (1100, 69)
[MICE] Starting imputation round 1/110, elapsed time 0.004
[MICE] Starting imputation round 2/110, elapsed time 0.045
[MICE] Starting imputation round 3/110, elapsed time 0.087
[MICE] Starting imputation round 4/110, elapsed time 0.129
[MICE] Starting imputation round 5/110, elapsed time 0.170
[MICE] Starting imputation round 6/110, elapsed time 0.209
[MICE] Starting imputation round 7/110, elapsed time 0.250
[MICE] Starting imputation round 8/110, elapsed time 0.290
[MICE] Starting imputation round 9/110, elapsed time 0.327
[MICE] Starting imputation round 10/110, elapsed time 0.366
[MICE] Starting imputation round 11/110, elapsed time 0.406
[MICE] Starting imputation round 12/110, elapsed time 0.452
[MICE] Starting imputation round 13/110, elapsed time 0.498
[MICE] Starting imputation round 14/110, elapsed time 0.540
[MICE] Starting imputation round 15/110, elapsed time 0.583
[MICE] Starting imputation round 16/110, elapsed time 0.622
[MICE] Starting imputation round 17/110, elapsed time 0.672
[MICE] Starting imputation round 18/110, elapsed time 0.717
[MICE] Starting imputation round 19/110, elapsed time 0.761
[MICE] Starting imputation round 20/110, elapsed time 0.795
[MICE] Starting imputation round 21/110, elapsed time 0.840
[MICE] Starting imputation round 22/110, elapsed time 0.880
[MICE] Starting imputation round 23/110, elapsed time 0.921
[MICE] Starting imputation round 24/110, elapsed time 0.956
[MICE] Starting imputation round 25/110, elapsed time 0.996
[MICE] Starting imputation round 26/110, elapsed time 1.040
[MICE] Starting imputation round 27/110, elapsed time 1.084
[MICE] Starting imputation round 28/110, elapsed time 1.126
[MICE] Starting imputation round 29/110, elapsed time 1.169
[MICE] Starting imputation round 30/110, elapsed time 1.204
[MICE] Starting imputation round 31/110, elapsed time 1.246
[MICE] Starting imputation round 32/110, elapsed time 1.285
[MICE] Starting imputation round 33/110, elapsed time 1.329
[MICE] Starting imputation round 34/110, elapsed time 1.369
[MICE] Starting imputation round 35/110, elapsed time 1.407
[MICE] Starting imputation round 36/110, elapsed time 1.447
[MICE] Starting imputation round 37/110, elapsed time 1.486
[MICE] Starting imputation round 38/110, elapsed time 1.523
[MICE] Starting imputation round 39/110, elapsed time 1.571
[MICE] Starting imputation round 40/110, elapsed time 1.608
[MICE] Starting imputation round 41/110, elapsed time 1.648
[MICE] Starting imputation round 42/110, elapsed time 1.687
[MICE] Starting imputation round 43/110, elapsed time 1.726
[MICE] Starting imputation round 44/110, elapsed time 1.761
[MICE] Starting imputation round 45/110, elapsed time 1.806
[MICE] Starting imputation round 46/110, elapsed time 1.851
[MICE] Starting imputation round 47/110, elapsed time 1.885
[MICE] Starting imputation round 48/110, elapsed time 1.923
[MICE] Starting imputation round 49/110, elapsed time 1.960
[MICE] Starting imputation round 50/110, elapsed time 1.998
[MICE] Starting imputation round 51/110, elapsed time 2.039
[MICE] Starting imputation round 52/110, elapsed time 2.072
[MICE] Starting imputation round 53/110, elapsed time 2.110
[MICE] Starting imputation round 54/110, elapsed time 2.144
[MICE] Starting imputation round 55/110, elapsed time 2.180
[MICE] Starting imputation round 56/110, elapsed time 2.215
[MICE] Starting imputation round 57/110, elapsed time 2.258
[MICE] Starting imputation round 58/110, elapsed time 2.302
[MICE] Starting imputation round 59/110, elapsed time 2.349
[MICE] Starting imputation round 60/110, elapsed time 2.396
[MICE] Starting imputation round 61/110, elapsed time 2.450
[MICE] Starting imputation round 62/110, elapsed time 2.499
[MICE] Starting imputation round 63/110, elapsed time 2.541
[MICE] Starting imputation round 64/110, elapsed time 2.580
[MICE] Starting imputation round 65/110, elapsed time 2.614
[MICE] Starting imputation round 66/110, elapsed time 2.658
[MICE] Starting imputation round 67/110, elapsed time 2.707
[MICE] Starting imputation round 68/110, elapsed time 2.765
[MICE] Starting imputation round 69/110, elapsed time 2.818
[MICE] Starting imputation round 70/110, elapsed time 2.863
[MICE] Starting imputation round 71/110, elapsed time 2.906
[MICE] Starting imputation round 72/110, elapsed time 2.960
[MICE] Starting imputation round 73/110, elapsed time 3.004
[MICE] Starting imputation round 74/110, elapsed time 3.056
[MICE] Starting imputation round 75/110, elapsed time 3.107
[MICE] Starting imputation round 76/110, elapsed time 3.153
[MICE] Starting imputation round 77/110, elapsed time 3.208
[MICE] Starting imputation round 78/110, elapsed time 3.253
[MICE] Starting imputation round 79/110, elapsed time 3.302
[MICE] Starting imputation round 80/110, elapsed time 3.349
[MICE] Starting imputation round 81/110, elapsed time 3.399
[MICE] Starting imputation round 82/110, elapsed time 3.460
[MICE] Starting imputation round 83/110, elapsed time 3.515
[MICE] Starting imputation round 84/110, elapsed time 3.569
[MICE] Starting imputation round 85/110, elapsed time 3.629
[MICE] Starting imputation round 86/110, elapsed time 3.676
[MICE] Starting imputation round 87/110, elapsed time 3.728
[MICE] Starting imputation round 88/110, elapsed time 3.772
[MICE] Starting imputation round 89/110, elapsed time 3.811
[MICE] Starting imputation round 90/110, elapsed time 3.852
[MICE] Starting imputation round 91/110, elapsed time 3.907
[MICE] Starting imputation round 92/110, elapsed time 3.958
[MICE] Starting imputation round 93/110, elapsed time 4.009
[MICE] Starting imputation round 94/110, elapsed time 4.059
[MICE] Starting imputation round 95/110, elapsed time 4.097
[MICE] Starting imputation round 96/110, elapsed time 4.142
[MICE] Starting imputation round 97/110, elapsed time 4.186
[MICE] Starting imputation round 98/110, elapsed time 4.226
[MICE] Starting imputation round 99/110, elapsed time 4.268
[MICE] Starting imputation round 100/110, elapsed time 4.327
[MICE] Starting imputation round 101/110, elapsed time 4.376
[MICE] Starting imputation round 102/110, elapsed time 4.421
[MICE] Starting imputation round 103/110, elapsed time 4.465
[MICE] Starting imputation round 104/110, elapsed time 4.507
[MICE] Starting imputation round 105/110, elapsed time 4.549
[MICE] Starting imputation round 106/110, elapsed time 4.595
[MICE] Starting imputation round 107/110, elapsed time 4.645
[MICE] Starting imputation round 108/110, elapsed time 4.700
[MICE] Starting imputation round 109/110, elapsed time 4.753
[MICE] Starting imputation round 110/110, elapsed time 4.797

In [50]:
print (Y_bal_3.shape[0])
try:
    print ("Hello World")
    X_resampled, y_resampled = ADASYN().fit_sample(X_bal_3, Y_bal_3)

except:
    print ("This is an error message!")
    X_resampled, y_resampled = SMOTE().fit_sample(X_bal_3, Y_bal_3)
X_resampled.shape[0]

705
Hello World
This is an error message!

706

In [51]:

x_pop_2 = pd.DataFrame(X_resampled, columns = features)
y_new_r_2 = pd.DataFrame(y_resampled)
y_new_r_2 = y_new_r_2.rename(columns = {y_new_r_2.columns[0] : 'AFclass'})

Data__R2 = pd.concat([x_pop_2,y_new_r_2], axis = 1)

Data_pers_size = Data__R2[Data__R2["AFclass"] == 1].shape[0] # number of rows
Data_paro_size = Data__R2[Data__R2["AFclass"] == 0].shape[0] # number of rows
print ("SIZE OF THE CLASSES :",Data_pers_size ,Data_paro_size)

SIZE OF THE CLASSES : 353 353